body {
    background-color: black;
    color: white;
    font-size: 20px;
    line-height: 2cm;
}

h1{
    color: green;
    font-size: 60px;
    font-variant: small-caps;
}

img {
    width: 850px;
    height: auto;
    margin-top: inherit;
    float: right;
    margin-right: 100px;
}

p {
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
  }